Package: amneziawg
Source: amneziawg
Version: PACKAGE_VERSION-PACKAGE_RELEASE
Architecture: PACKAGE_ARCH
Maintainer: Amnezia VPN <info@amnezia.org>
Section: net
Homepage: https://amnezia.org
Description: Amnezia WireGuard - fast, modern, secure kernel VPN tunnel with obfuscation
 Amnezia WireGuard is a modified version of WireGuard that adds additional
 obfuscation features to bypass censorship and VPN blocking. It runs inside
 the Linux Kernel and uses state-of-the-art cryptography. It aims to be
 faster, simpler, leaner, and more useful than IPSec, while avoiding
 the massive headache. It intends to be considerably more performant
 than OpenVPN. AmneziaWG is designed as a general purpose VPN for
 running on embedded interfaces and super computers alike, fit for
 many different circumstances. It runs over UDP.
 .
 This package provides the kernel module and userspace tools for AmneziaWG.
 Unlike standard WireGuard, AmneziaWG includes additional parameters (Jc, Jmin,
 Jmax, S1, S2, H1-H4) for traffic obfuscation.
